.movie {
  &__container {
    display: flex;
    gap: 120px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__poster {
    border-radius: 8px;
  }

  &__title {
    margin-bottom: 12px;
    font-size: calc((68 / 16) * 1rem);
    font-weight: 900;
    line-height: 1.1;
    @media screen and (max-width: 768px) {
      font-size: calc((48 / 16) * 1rem);
    }
  }

  &__tagline {
    color: #9CA3AF;
    font-size: calc((18 / 16) * 1rem);
    font-style: italic;
  }

  &__overview {
    margin: 16px 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  &__top-info {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .thumb {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 4px;

    &--release {
      background-color: var(--primary);
    }
  }

  &__rating-thumb {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: transparent;
    color: var(--black);
  }

  &__genres-list {
    margin: 16px 0;
    display: flex;
    gap: 16px;
    list-style: none;
  }

  &__genre-item {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #EFE8D8;
    padding: 8px;
    border-radius: 10px;
    //
    //&:not(:last-child) {
    //  &::after {
    //    content: "";
    //    display: block;
    //    width: 4px;
    //    height: 4px;
    //    border-radius: 50%;
    //    background-color: var(--black);
    //  }
    //}
  }

  &__facts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__fact-caption {
    font-weight: 700;
  }
}

.starring {
  padding-top: 24px;

  &__title {
    margin-bottom: 24px;
  }

  &__container {
    padding-bottom: 32px;
    overflow-x: auto;
    display: flex;
    gap: 70px;
    align-items: flex-start;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbarThumb);
      height: 4px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbarDark);
    }

  }

  .star {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }

    &__name {
      font-size: calc((14 / 16) * 1rem);
      font-weight: 700;
    }

    &__role {
      display: inline-block;
      font-size: calc((14 / 16) * 1rem);
    }
  }
}

.materials {
  padding-top: 24px;

  &__title {
    @extend .starring__title;
  }

  &__container {
    @extend .starring__container;
    gap: 24px;
  }
}

.title {
  font-size: calc((20 / 16) * 2rem);
  font-weight: 900;
  color: var(--dark);
}
