.movie {
  &__container {
    display: flex;
    gap: 120px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__poster-container {
    flex-shrink: 0;
  }

  &__poster {
    display: block;
    border-radius: 8px;
    @media screen and (max-width: 768px) {
      height: 500px;
    }
  }

  &__info {
    overflow-x: hidden;
  }

  &__title {
    margin-bottom: 12px;
    font-size: calc((68 / 16) * 1rem);
    font-weight: 900;
    line-height: 1.1;
    @media screen and (max-width: 768px) {
      font-size: calc((48 / 16) * 1rem);
    }
  }

  &__tagline {
    display: block;
    color: #9CA3AF;
    font-size: calc((18 / 16) * 1rem);
    font-style: italic;
  }

  &__overview {
    margin: 16px 0;
    font-size: calc(20 / 16) * 1rem;
    font-weight: 300;
    line-height: 1.5;
  }

  .thumb {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
  }

  &__genres-list {
    display: flex;
    gap: 8px;
    list-style: none;
  }

  &__genre-item {
    display: flex;
    align-items: center;
    gap: 8px;

    &:not(:first-child) {
      &::before {
        content: "";
        display: flex;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #e5e5e5;
      }
    }
  }

  &__brief-info {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 16px;
    @media screen and (max-width: 768px) {
      gap: 8px;
    }
  }

  &__facts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: calc(16 / 16) * 1rem;
    font-weight: 300;
    list-style: none;
  }

  &__fact-caption {
    font-weight: 700;
  }
}

.starring {
  padding-top: 48px;

  &__title {
    margin-bottom: 24px;
  }

  .star {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;

    &__image {
      max-width: 100px;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }

    &__name {
      font-size: calc((14 / 16) * 1rem);
      font-weight: 700;
    }

    &__role {
      display: inline-block;
      font-size: calc((14 / 16) * 1rem);
      color: var(--smoke);
    }
  }
}

.materials, .reviews, .recommended {
  padding-top: 32px;

  &__title {
    margin-bottom: 24px;
    font-size: calc((24 / 16) * 1rem);
    font-weight: 900;
  }
}

.reviews {

  &__number {
    font-size: calc(13 / 16) * 1rem;
    color: var(--smoke);
  }
}

.title {
  font-size: calc((20 / 16) * 2rem);
  font-weight: 900;
}
