.review {
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .15);

  &__avatar-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__author-nickname {
    display: inline-block;
    color: var(--smoke);
    font-size: calc(13 / 16) * 1rem;
    font-weight: 900;
  }

  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border: 2px solid var(--badRating);
    border-radius: 8px;
    font-weight: 700;

    &_bad {
      border-color: var(--badRating);
    }

    &_mid {
      border-color: var(--midRating);
    }

    &_good {
      border-color: var(--excellentRating);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: calc(16 / 16) * 1rem;
    line-height: 1.5;
    text-overflow: ellipsis;
  }

  &__date {
    font-size: calc(13 / 16) * 1rem;
    color: var(--smoke);
  }

  &__info {
    padding-top: 16px;
  }
}
