.app {
  &__section {
    margin-top: 48px;

    @media screen and (max-width: 576px) {
      margin-top: 32px;
    }
  }

  &__section-title {
    margin-bottom: clamp(16px, 2vw, 24px);
    font-weight: 900;
    font-size: clamp(calc((24 / 16) * 1rem), 2vw, calc((36 / 16) * 1rem));
    color: var(--white);
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto 0;
  padding: 0 16px;
}


