.app {
  &__section {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__section-title {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: calc((36 / 16) * 1rem);
    color: var(--white);
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto 0;
  padding: 0 16px;
}


