* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #61bfad;
    --black: #000;
    --white: #fff;
    --background: #f9f7e8;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
}

button, input {
    font-family: 'Inter', sans-serif;
}
